@media (max-width: 739px) {
    

    .banner-text h1 {
        font-size: 2rem;
    }

    #navbar {
        display: block;
    }

    .navbar-item {
        display: block;
        padding: 11px 20px;
        text-align: left;
    }

    .about-item {
        padding: 46px 20px 36px 36px;
    }

    .my-certificate-item.left-line::before  {
        display: none;
    }

    .my-project {
        height: calc(100% - 30px);
        margin-top: 25px;
    }

    .section-content {
        padding: 46px 20px 36px 36px;
    }
}